<p>
    <input type="checkbox" id="options-emailNotifications"></input>
    <label for="options-emailNotifications">Email Notifications</label>
    <div class="ep_email_settings">
	<form class='ep_email_form'>
		<input id='ep_email' class='ep_email_input' placeholder='your@email.com' type=email>
		<label>Send a mail when someone..</label>
		<br />
    		<input type="checkbox" style="margin-left:0.3em;" id="ep_email_onStart"></input>
    		<label for="ep_email_onStart">starts editing the pad</label>
		<br />
		<input type="checkbox" style="margin-left:0.3em;" id="ep_email_onEnd"></input>
		<label for="ep_email_onEnd">finish editing the pad</label>
		<input id='ep_email_option'type=hidden >
	</form>
		<br />
		<input style="padding:5px;" id='ep_email_subscribe' type=button value=subscribe>
		<input style="padding:5px;" id='ep_email_unsubscribe'type=button value=unsubscribe>
    </div>
</p>
