<p>
  <input type="checkbox" id="options-emailNotifications"></input>
  <label for="options-emailNotifications">Email Notifications</label>
  <div class="ep_email_settings">
    <form id='ep_email_form_mysettings'>
      <input name='ep_email' class='ep_email_input' placeholder='your@email.com' type=email>
      <br />
      <label>Send a mail when someone..</label>
      <br />
      <input name='ep_email_onStart' type="checkbox" class="ep_email_checkbox"></input>
      <label for="ep_email_onStart">starts editing the pad</label>
      <br />
      <input name='ep_email_onEnd' type="checkbox" class="ep_email_checkbox"></input>
      <label for="ep_email_onEnd">finish editing the pad</label>
      <input name='ep_email_option' type=hidden >
      <br />
      <input name='ep_email_subscribe' type=button class="ep_email_buttons" value=subscribe>
      <input name='ep_email_unsubscribe'type=button class="ep_email_buttons" value=unsubscribe>
    </form>
  </div>
</p>
