<p>
  <input type="checkbox" id="options-emailNotifications">
  <label for="options-emailNotifications" data-l10n-id="ep_email_notifications.menuLabel"></label>
</p>
<div class="ep_email_settings">
  <form id="ep_email_form_mysettings">
    <input id="ep_email" name="ep_email" class="ep_email_input" placeholder="your@email.com" type="email">
    <br>
    <label data-l10n-id="ep_email_notifications.formOptionsTitle"></label>
    <br>
    <input id="ep_email_onStart" name="ep_email_onStart" type="checkbox" class="ep_email_checkbox">
    <label for="ep_email_onStart" data-l10n-id="ep_email_notifications.formOptionOnStart"></label>
    <br>
    <input id="ep_email_onEnd" name="ep_email_onEnd" type="checkbox" class="ep_email_checkbox">
    <label for="ep_email_onEnd" data-l10n-id="ep_email_notifications.formOptionOnEnd"></label>
    <input name="ep_email_option" type="hidden">
    <br>
    <button name="ep_email_subscribe" type="button" class="ep_email_buttons" data-l10n-id="ep_email_notifications.formBtnSubscr"></button>
    <button name="ep_email_unsubscribe" type="button" class="ep_email_buttons" data-l10n-id="ep_email_notifications.formBtnUnsubscr"></button>
  </form>
</div>
