<html>
<head>
  <meta charset="utf-8">
  <title>Email Notifications Subscription</title>
  <link href="../../static/plugins/ep_email_notifications/static/css/email_notifications.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="validationTitle">
    <h1>Email notifications</h1>
  </div>
  <div class="validationEmailSubscription">
    <%action%>
    <div class="<%classResult%>">
      <%result%>
      <div>
        <%explanation%>
      </div>
    </div>
    Go to the pad: <a href="<%padUrl%>"><%padUrl%></a>
  </div>
</body>
</html>
